body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.height-vh{
    height: 100vh;
}

.login_input{
    width: 22rem;
}

.cursor-pointer{
    cursor: pointer;
}

.cart-image{
    height: 100px;
    width: 200px;
}